/* grids.css */

.grid {
	table-layout: fixed;
	border-collapse: collapse;
}

.grid th { padding: 0; }
.grid td { padding: 0; }

.grid tbody tr.even td {
	background-color: #f9f6f6;
}

.grid_keyword td { border-bottom: #dfe2e3 1px solid; }

.grid_keyword tbody tr:hover td {
	background-color: #fff899; 
}

.grid_keyword tbody tr:hover .td_01 {
/*	background-image: url(../images/arr_grid.gif);
	background-position: 5px 10px;
	background-repeat: no-repeat; */
}

.grid_keyword tfoot td {
	height: 22px;
	border-top: #fff 1px solid;
	border-bottom: none;
	background: url(../images/tfoot_grid_keyword.png) 0 0 repeat-x;
}

.grid_keyword {
	font: 14px/18px Arial, Helvetica, sans-serif;
	color: #727a7f;
}

.grid_keyword th {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4a555b;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

.grid_keyword th div {
	padding-top:    8px;
	padding-bottom: 7px;
}

.grid_keyword td div {
	padding-top:    5px;
	padding-bottom: 6px;
}
.grid_24_outer {
	overflow: auto; /* Scrollbar are always visible */
	height: 595px;
}

.grid_24 {
	font-size: 13px;
	line-height: 18px;
	color: #4e5b62;
	table-layout: auto;
	}

.grid_24 th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4e5b62;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}
.grid_24 th div {
	padding: 7px 15px;
	border-right: #c8c8c8 1px solid;
	height: 20px;
	}

.grid_24 th.th_01 div {
	min-width: 100px;
}

.grid_24 th.th_02 div {
	min-width: 150px;
}

.grid_24 td { 
	border-bottom: #dfe2e3 1px solid;
	}
.grid_24 tbody tr:hover td {
	background-color: #fff899; 
	}
.grid_24 td div {
	padding: 4px 15px;
	}
.grid_keyword th.th_01 div {
	padding-right: 9px;
	text-align: right;
	border-left:  #f9f9f9 1px solid;
	border-right: #c8c8c8 1px solid;
}

.grid_keyword th.th_02 div {
	padding-left:  15px;
	padding-right: 10px;
	border-right: #c8c8c8 1px solid;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
}

.grid_keyword th.th_03 div {
	border-right: #f9f9f9 1px solid;
}

.grid_keyword td.td_01 div {
	padding-right: 9px;
	text-align: right;
}

.grid_keyword td.td_02 div {
	padding-left:  15px;
	padding-right: 10px;
	color: #242c30;
}

.grid_keyword td.td_03 div {
	padding-left:  15px;
	padding-right: 10px;
}

.grid_keyword td.td_04 div {
	padding-left:  15px;
	padding-right: 10px;
}


/*--------------------------*/

.grid_07 td { 
	padding-top: 4px;
	padding-bottom: 4px;
	background: #fff;
	border-bottom: #dfe2e3 1px solid;
	}

.grid_07 tbody tr:hover td {
	background-color: #fff899; 
}

.grid_07 tbody tr:hover .td_01 {
/*	background-image: url(../images/arr_grid.gif);
	background-position: 5px 10px;
	background-repeat: no-repeat; */
}

.grid_07 tfoot td {
	height: 22px;
	border-top: #fff 1px solid;
	border-bottom: none;
	background: url(../images/tfoot_grid_keyword.png) 0 0 repeat-x;
}

.grid_07 {
	font-size: 14px;
	line-height: 18px;
	color: #727a7f;
}

.grid_07 th {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4a555b;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

.grid_07 th div {
	padding-top:    10px;
	padding-bottom: 9px;
}

.grid_07 td {
	color: #4e5b62;
	font-family: "OpenSansSemibold", Verdana, Geneva, sans-serif;
	text-transform: uppercase
	}
.grid_07.grid_07_1 td{
	font: 13px/17px OpenSansRegular, Verdana, Geneva, sans-serif;
	text-transform: none
	}
.grid_07 td div {
	_padding-top:    4px;
	_padding-bottom: 5px;
}

.grid_07 th.th_01 div {
	padding-right: 0px;
	text-align: center;
	border-left:  #f9f9f9 1px solid;
	border-right: #c8c8c8 1px solid;
}

.grid_07 th.th_02 div {
	padding-left:  15px;
	padding-right: 10px;
	border-right: #c8c8c8 1px solid;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
}

.grid_07 th.th_03 div {
	border-right: #f9f9f9 1px solid;
}
.grid_07 th.th_04 div {
	padding-left:  15px;
	text-align: left;
	border-left:  #f9f9f9 1px solid;
	border-right: #c8c8c8 1px solid;
}
.grid_07.grid_07_1 th.th_02 div {
	padding-left:  25px;
	}
.grid_07 td.td_01 div {
	padding-right: 9px;
	text-align: center;
}
.grid_07.grid_07_1 td.td_01 div{
	padding-left:25px;
	text-align:left
	}

.grid_07 td.td_02 div {
	padding-left:  15px;
	padding-right: 10px;
}

.grid_07 td.td_03 div {
	padding-left:  15px;
	padding-right: 10px;
}

.grid_07 td.td_04 div {
	padding-left:  15px;
	padding-right: 20px;
	text-align: center
}

.grid_08{
	width: 100%;
	}
.grid_08 td > div{
	padding: 7px
	}
.grid_08 td > div input[type=text]{
	width: 80%;
	}
.grid_08 label{
	color: #4e5b62;
	font-size: 14px;
	line-height: 31px;
	text-shadow: 0 1px #f5f7f9
	}
.grid_08 input[type=text]{
	padding-left: 10px;
	padding-right: 10px;
	height: 29px;
	line-height: 29px;
	}
.grid_08 .lnk_advs{
	display: inline-block;
	margin: 4px 0 0 20px;
	color: #4e5b62;
	font-size: 13px;
	text-decoration: none;
	vertical-align: top
	}
.grid_08 .lnk_advs:hover{
	text-decoration: underline;
	}



.grid_09 {
	color: #4e5b62;
	font-size: 13px;
	line-height: 18px;
	box-shadow: 0 2px 1px #ababab;
	}
.grid_09 td {
	text-align: left;
	vertical-align: top;
	background: #fff;
	border-bottom: #dfe2e3 1px solid;
	}

.grid_09 tbody tr:hover td {
	background-color: #fff899; 
	}
.grid_09 td > div{
	padding: 4px 6px;
	}
.grid_09 td > div.checked{
	color: #bb2b10;
	text-decoration: underline
	}
.grid_09 th {
	color: #4a555b;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	border-top: #fff 1px solid;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
	}
.grid_09 th div {
	padding: 12px 6px;
	}
.grid_09 td.td_01 div {
	padding-left: 0px;
	text-align: right;
	}


.grid_10 {
	}
.grid_10 th {
	font: 16px/20px OpenSansSemibold, Verdana, Geneva, sans-serif;
	text-align: left;
	vertical-align: top;
	background: #eff0f2;
	border-bottom: 1px solid #dfe2e3;
	}
.grid_10 th > div{
	padding: 9px 18px;
	}
.grid_10 td {
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #dfe2e3;
	}
.grid_10 tr:hover td {
	}
.grid_10 td > div{
	padding: 2px 7px 4px!important;
	}
.grid_10 td input[type=text]{
	margin: -5px 0 -5px -15px;
	padding-rigth: 5px!important;
	padding-left: 5px!important;
	width: 275px;
	color: #4e5b62;
	font-size: 14px;
	line-height: 20px;
	}
.grid_10 textarea {
	height: 45px;
	line-height: 20px;
	overflow: hidden;
	width: 100%;
}

.grid_10 textarea.h105 {
	height: 105px;
}

.grid_11 {
	width: 100%;
	border-collapse: collapse;
	}
.grid_11 td {
	padding: 0;
	}
.grid_11 tr:hover td {
	}
.grid_11 td > div{
	padding: 3px 0 4px;
	}
.grid_11 td.td_01 > div{
	padding-left: 20px;
	}
.grid_11 td.td_02 > div,
.grid_11 td.td_04 > div{
	padding-right: 20px;
	}
.grid_11 td label{
	font-size: 14px;
	}
.grid_11 td input[type=text]{
	width: 100%;
	color: #4e5b62;
	}
.grid_11_1 td input[type=text]{
	width: 140%;
	padding: 0 5%;
	}
.grid_11_1 .input_date_01 {
	padding: 0px 37px 0px 7px; 
	width: 105px!important;
	_border-color: #b7b7b7; 
	background: #f5f6f7 url(../images/ico_date_2.png) right 50% no-repeat;
}

.grid_11_1 .input_date_01:hover, .grid_11_1 .input_date_01:focus {
	border-color: #50515c;
	background: #fff url(../images/ico_date_2_o.png) right 50% no-repeat;
}
	

.grid_12 {
	width: 100%;
	color: #4e5b62;
	font-size: 13px;
	line-height: 18px;
	border-collapse: collapse;
	}
.grid_12 td {
	padding: 0;
	text-align: left;
	vertical-align: top;
	border: none;
	}

.grid_12 td > div{
	padding: 0 0 10px;
	border-right: 1px solid #dfdfdf
	}
.grid_12 td.td_03 > div{
	border: none
	}
.grid_12 th {
	color: #4a555b;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	border-top: #fff 1px solid;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
	}
.grid_12 th div {
	padding: 9px 0 5px;
	border-right: 1px solid #c8c8c8
	}
.grid_12 th.th_03 div {
	border: none
	}
.grid_12 .search{
	padding: 10px 0 10px 12px;
	}
.grid_12 .search input[type=text]{
	min-width: 135px;
	width: 75%;
	height: 29px;
	line-height: 29px;
	}
.grid_12 ul{}
.grid_12 li{
	margin: 0 12px 0 0;
	padding: 7px 0 7px 12px;
	font-size: 13px;
	line-height: 13px;
	border-bottom: 1px solid #dfe2e3
	}
.grid_12 li.all{
	font-size: 12px;
	border-width: 2px;
	}
.grid_12 li label{
	font-size: 13px;
	}
.grid_12 li input[type=checkbox]{
	margin-right: 8px;
	}

.grid-15-h-scroll{
	overflow: auto
	}
.grid_15 {
	font-size: 13px;
	line-height: 18px;
	color: #4e5b62;
	}
.grid_15.g15-2 {
	min-width: 1200px;
	table-layout: fixed;
	}

.grid_15 th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4e5b62;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

.grid_15 th div {
	padding: 7px 10px;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
	border-right: #c8c8c8 1px solid;
	}
.grid_15 th.th_01 div{
	text-align: left;
	background: none
	}

.grid_15 th.th_02 div {
	padding: 7px 10px;
	background: none;
	border-right: #c8c8c8 1px solid;
	text-align: center;
}

.grid_15 td { 
	border-bottom: #dfe2e3 1px solid;
	vertical-align: middle;
	line-height: 40px;
	}
.grid_15.g15-2 td {
	line-height: 15px;
	}
.grid_15 tbody tr:hover td {
	background-color: #fff899; 
	}
.grid_15 td div {
	padding: 0px 10px;
	height: 40px;
	}
.grid_15.g15-2 td div {
	padding: 6px 10px;
	min-width: 0!important;
	height: auto;
	word-wrap: break-word;
	}
.grid_15 td.td_01 div,
.grid_15 td.td_02 div{
	text-align: center;
	}
	
.grid_15 td.td_09 div{
	min-width: 100px;
}
.grid_15 .td_03 img {
	vertical-align: middle;
}
.grid_15.g15-2 th.th-1{ width: 115px; }
.grid_15.g15-2 th.th-2{ width: 120px; }
.grid_15.g15-2 th.th-3{ width: auto; }
.grid_15.g15-2 th.th-4{ width: auto; }
.grid_15.g15-2 th.th-5{ width: 140px; }
.grid_15.g15-2 th.th-6{ width: 50px; }
.grid_15.g15-2 th.th-7{ width: 65px; }
.grid_15.g15-2 th.th-8{ width: 115px; }
.grid_15.g15-2 th.th-9{ width: auto; }


.grid_15.g15-2 td.td_01{ width: 30px; }
.grid_15.g15-2 td.td_02{ width: 85px; }
.grid_15.g15-2 td.td_03{ width: 120px; }
.grid_15.g15-2 td.td_04{ width: auto; }
.grid_15.g15-2 td.td_05{ width: auto; }
.grid_15.g15-2 td.td_06{ width: 140px; }
.grid_15.g15-2 td.td_07{ width: 50px; }
.grid_15.g15-2 td.td_08{ width: 65px; }
.grid_15.g15-2 td.td_09{ width: 115px; }
.grid_15.g15-2 td.td_10{ width: auto; }


.grid_15 div.check {
	color: #cc2f12;
}

.grid_15 .view {
	background: url(../images/ico_view.png) no-repeat top;
	display: inline-block;
	width: 19px;
	height: 16px;
}

.grid_15 .view:hover {
	background-position: bottom;
}

.grid_15 tr:first-child td {
	font-weight: bold;
	background-color: #fff899; 
}


.grid_13 {
	font-size: 13px;
	line-height: 18px;
	color: #4e5b62;
	}

.grid_13 th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4e5b62;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

.grid_13 th div {
	padding: 7px 15px;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
	border-right: #c8c8c8 1px solid;
	}
.grid_13 th.th_01 div,
.grid_13 th.th_02 div{
	text-align: center;
	background: none
	}
.grid_13 td { 
	border-bottom: #dfe2e3 1px solid;
	}
.grid_13 tbody tr:hover td {
	background-color: #fff899; 
	}
.grid_13 td div {
	padding: 4px 15px;
	}

.grid_13 td.td_01 div,
.grid_13 td.td_02 div{
	text-align: center;
	}


.grid_14 {
	}
.grid_14 td {
	color: #4e5b62;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #dfe2e3;
	}
.grid_14.grid_14_1 td {
	border-bottom: none
	}
.grid_14 tr:hover td {
	}
.grid_14 td > div{
	padding: 9px 12px;
	}
.grid_14 td input[type=text]{
	margin: -6px 0 -7px 0px;
	width: 170px;
	color: #4e5b62;
	font-size: 14px;
	line-height: 20px;
	}
	


.grid_22 {
	font-size: 14px;
	color: #727a7f;
	clear: both;
}

.grid_22 th {
	text-transform: uppercase;
	text-align: center;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4a555b;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
	font: 13px OpenSansBold, Arial, Helvetica, sans-serif;
}

.grid_22 th.th_01 div {
	padding-right: 0px;
	text-align: center;
	border-left:  #f9f9f9 1px solid;
	border-right: #c8c8c8 1px solid;
}

.grid_22 th div {
	padding-top: 10px;
	padding-bottom: 9px;
}

.grid_22 td {
	color: #4e5b62;
	font: 13px OpenSansRegular, Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 5px 0;
}

.grid_22 td:first-child {
	text-align: left;
	font-size: 14px;
	padding: 0 0 0 30px;
}

.grid_22 tr:nth-child(even) td {
	background: #f9f6f6;
}

.grid_22 tr:last-child td {
	vertical-align: top;
}
.grid_21 {
	width: 350px;
	color: #4e5b62;
	font-size: 14px;
	border-collapse: collapse;
}

.grid_21 td {
	padding: 0;
	text-align: left;
	border: none;
	background: #e6e9ea;
}

.grid_21 td:first-child div {
	padding: 7px 0 7px 30px;
}

.grid_21 td > div {
	padding: 7px 0 0 55px;
}

.grid_21 th {
	color: #2c3b4c;
	text-align: center;
	text-shadow: #d7dbdd 0 1px 0;
	background: #afb7bb;
	font: 13px/16px OpenSansBold, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.grid_21 th:last-child {
	border-right: 1px solid #fff;
}

.grid_21 th div {
	padding: 15px 0;
}

.grid_21 tr:nth-child(even) td {
	background: #eef0f0;
}
.grid_22 td {
	color: #4e5b62;
	font: 13px OpenSansRegular, Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 5px 0;
}

.grid_22 td:first-child {
	text-align: left;
	font-size: 14px;
	padding: 0 0 0 30px;
}

.grid_22 tr:nth-child(even) td {
	background: #f9f6f6;
}

.grid_22 tr:last-child td {
	vertical-align: top;
}

.btn_select_01, .btn_select_01:visited {
	width: 60px;
	height: 18px;
	overflow: hidden;
	padding: 0 10px 0 0;
	display: block;
	font: 11px/17px OpenSansSemiBold, Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #7a868c 0 1px 1px;
	color: #fff;
	background: #a1acb1 url(../images/btn_select_01.png) right 0 no-repeat;
	
	position: relative;
	zoom: 1;

	-moz-border-radius:    2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius:  2px;
	 border-radius:        2px;

	-moz-box-shadow:    0 1px 0 #dbdbdb;
	-webkit-box-shadow: 0 1px 0 #dbdbdb;
	box-shadow:         0 1px 0 #dbdbdb;

	behavior: url(PIE.htc); 	
}
/* grids.css */

.grid {
	table-layout: fixed;
	border-collapse: collapse;
}

.grid th { padding: 0; }
.grid td { padding: 0; }

.grid tbody tr.even td {
	background-color: #f9f6f6;
}

.grid_keyword td { border-bottom: #dfe2e3 1px solid; }

.grid_keyword tbody tr:hover td {
	background-color: #fff899; 
}

.grid_keyword tbody tr:hover .td_01 {
/*	background-image: url(../images/arr_grid.gif);
	background-position: 5px 10px;
	background-repeat: no-repeat; */
}

.grid_keyword tfoot td {
	height: 22px;
	border-top: #fff 1px solid;
	border-bottom: none;
	background: url(../images/tfoot_grid_keyword.png) 0 0 repeat-x;
}

.grid_keyword {
	font: 14px/18px Arial, Helvetica, sans-serif;
	color: #727a7f;
}

.grid_keyword th {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4a555b;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

.grid_keyword th div {
	padding-top:    8px;
	padding-bottom: 7px;
}

.grid_keyword td div {
	padding-top:    5px;
	padding-bottom: 6px;
}

.grid_keyword th.th_01 div {
	padding-right: 9px;
	text-align: right;
	border-left:  #f9f9f9 1px solid;
	border-right: #c8c8c8 1px solid;
}

.grid_keyword th.th_02 div {
	padding-left:  15px;
	padding-right: 10px;
	border-right: #c8c8c8 1px solid;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
}

.grid_keyword th.th_03 div {
	border-right: #f9f9f9 1px solid;
}

.grid_keyword td.td_01 div {
	padding-right: 9px;
	text-align: right;
}

.grid_keyword td.td_02 div {
	padding-left:  15px;
	padding-right: 10px;
	color: #242c30;
}

.grid_keyword td.td_03 div {
	padding-left:  15px;
	padding-right: 10px;
}

.grid_keyword td.td_04 div {
	padding-left:  15px;
	padding-right: 10px;
}


/*--------------------------*/

.grid_07 td { 
	padding-top: 4px;
	padding-bottom: 4px;
	background: #fff;
	border-bottom: #dfe2e3 1px solid;
	}

.grid_07 tbody tr:hover td {
	background-color: #fff899; 
}

.grid_07 tbody tr:hover .td_01 {
/*	background-image: url(../images/arr_grid.gif);
	background-position: 5px 10px;
	background-repeat: no-repeat; */
}

.grid_07 tfoot td {
	height: 22px;
	border-top: #fff 1px solid;
	border-bottom: none;
	background: url(../images/tfoot_grid_keyword.png) 0 0 repeat-x;
}

.grid_07 {
	font-size: 14px;
	line-height: 18px;
	color: #727a7f;
}

.grid_07 th {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4a555b;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

.grid_07 th div {
	padding-top:    10px;
	padding-bottom: 9px;
}

.grid_07 td {
	color: #4e5b62;
	font-family: "OpenSansSemibold", Verdana, Geneva, sans-serif;
	text-transform: uppercase
	}
.grid_07.grid_07_1 td{
	font: 13px/17px OpenSansRegular, Verdana, Geneva, sans-serif;
	text-transform: none
	}
.grid_07 td div {
	_padding-top:    4px;
	_padding-bottom: 5px;
	padding-left: 10px!important;
}

.grid_07 th.th_01 div {
	padding-right: 0px;
	text-align: center;
	border-left:  #f9f9f9 1px solid;
	border-right: #c8c8c8 1px solid;
}

.grid_07 th.th_02 div {
	padding-left:  15px;
	padding-right: 10px;
	border-right: #c8c8c8 1px solid;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
}

.grid_07 th.th_03 div {
	border-right: #f9f9f9 1px solid;
}
.grid_07 th.th_04 div {
	padding-left:  15px;
	text-align: left;
	border-left:  #f9f9f9 1px solid;
	border-right: #c8c8c8 1px solid;
}
.grid_07.grid_07_1 th.th_02 div {
	padding-left:  10px!important;
	}
.grid_07 td.td_01 div {
	padding-right: 9px;
	text-align: center;
}
.grid_07.grid_07_1 td.td_01 div{
	padding-left:25px;
	text-align:left
	}

.grid_07 td.td_02 div {
	padding-left:  15px;
	padding-right: 10px;
}

.grid_07 td.td_03 div {
	padding-left:  15px;
	padding-right: 10px;
}

.grid_07 td.td_04 div {
	padding-left:  15px;
	padding-right: 20px;
	text-align: center
}

.grid_08{
	width: 100%;
	}
.grid_08 td > div{
	padding: 7px
	}
.grid_08 td > div input[type=text]{
	width: 80%;
	}
.grid_08 label{
	color: #4e5b62;
	font-size: 14px;
	line-height: 31px;
	text-shadow: 0 1px #f5f7f9
	}
.grid_08 input[type=text]{
	padding-left: 10px;
	padding-right: 10px;
	height: 29px;
	line-height: 29px;
	}
.grid_08 .lnk_advs{
	display: inline-block;
	margin: 4px 0 0 20px;
	color: #4e5b62;
	font-size: 13px;
	text-decoration: none;
	vertical-align: top
	}
.grid_08 .lnk_advs:hover{
	text-decoration: underline;
	}



.grid_09 {
	color: #4e5b62;
	font-size: 13px;
	line-height: 18px;
	box-shadow: 0 2px 1px #ababab;
	}
.grid_09 td {
	text-align: left;
	vertical-align: top;
	background: #fff;
	border-bottom: #dfe2e3 1px solid;
	}

.grid_09 tbody tr:hover td {
	background-color: #fff899; 
	}
.grid_09 td > div{
	padding: 4px 6px;
	}
.grid_09 td > div.checked{
	color: #bb2b10;
	text-decoration: underline
	}
.grid_09 th {
	color: #4a555b;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	border-top: #fff 1px solid;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
	}
.grid_09 th div {
	padding: 12px 6px;
	}
.grid_09 td.td_01 div {
	padding-left: 0px;
	text-align: right;
	}


.grid_10 {
	}
.grid_10 th {
	font: 16px/20px OpenSansSemibold, Verdana, Geneva, sans-serif;
	text-align: left;
	vertical-align: top;
	background: #eff0f2;
	border-bottom: 1px solid #dfe2e3;
	}
.grid_10 th > div{
	padding: 9px 18px;
	}
.grid_10 td {
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #dfe2e3;
	}
.grid_10 tr:hover td {
	}
.grid_10 td > div{
	padding: 9px 7px;
	}
.grid_10 td input[type=text]{
	margin: 0!important;
	padding-rigth: 15px;
	padding-left: 15px;
	width: 100%;
	color: #4e5b62;
	font-size: 14px;
	line-height: 20px;
	}

.grid_11 {
	width: 100%;
	border-collapse: collapse;
	}
.grid_11 td {
	padding: 0;
	}
.grid_11 tr:hover td {
	}
.grid_11 td > div{
	padding: 3px 0 4px;
	}
.grid_11 td.td_01 > div{
	padding-left: 20px;
	}
.grid_11 td.td_02 > div,
.grid_11 td.td_04 > div{
	padding-right: 20px;
	}
.grid_11 td label{
	font-size: 14px;
	}
.grid_11 td input[type=text]{
	width: 100%;
	color: #4e5b62;
	}
.grid_11_1 td input[type=text]{
	width: 90%;
	padding: 0 5%;
	}
.grid_11_1 .input_date_01 {
	padding: 0px 37px 0px 7px; 
	width: 105px!important;
	_border-color: #b7b7b7; 
	background: #f5f6f7 url(../images/ico_date_2.png) right 50% no-repeat;
}

.grid_11_1 .input_date_01:hover, .grid_11_1 .input_date_01:focus {
	border-color: #50515c;
	background: #fff url(../images/ico_date_2_o.png) right 50% no-repeat;
}
	

.grid_12 {
	width: 100%;
	color: #4e5b62;
	font-size: 13px;
	line-height: 18px;
	border-collapse: collapse;
	}
.grid_12 td {
	padding: 0;
	text-align: left;
	vertical-align: top;
	border: none;
	}

.grid_12 td > div{
	padding: 0 0 10px;
	border-right: 1px solid #dfdfdf
	}
.grid_12 td.td_03 > div{
	border: none
	}
.grid_12 th {
	color: #4a555b;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	border-top: #fff 1px solid;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
	}
.grid_12 th div {
	padding: 9px 0 5px;
	border-right: 1px solid #c8c8c8
	}
.grid_12 th.th_03 div {
	border: none
	}
.grid_12 .search{
	padding: 10px 0 10px 12px;
	}
.grid_12 .search input[type=text]{
	min-width: 135px;
	width: 75%;
	height: 29px;
	line-height: 29px;
	}
.grid_12 ul{}
.grid_12 li{
	margin: 0 12px 0 0;
	padding: 7px 0 7px 12px;
	font-size: 13px;
	line-height: 13px;
	border-bottom: 1px solid #dfe2e3
	}
.grid_12 li.all{
	font-size: 12px;
	border-width: 2px;
	}
.grid_12 li label{
	font-size: 13px;
	}
.grid_12 li input[type=checkbox]{
	margin-right: 8px;
	}




.grid_13 {
	font-size: 13px;
	line-height: 18px;
	color: #4e5b62;
	}

.grid_13 th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4e5b62;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

.grid_13 th div {
	padding: 7px 15px;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
	border-right: #c8c8c8 1px solid;
	}
.grid_13 th.th_01 div,
.grid_13 th.th_02 div{
	text-align: center;
	background: none
	}
.grid_13 td { 
	border-bottom: #dfe2e3 1px solid;
	}
.grid_13 tbody tr:hover td {
	background-color: #fff899; 
	}
.grid_13 td div {
	padding: 4px 15px;
	}

.grid_13 td.td_01 div,
.grid_13 td.td_02 div{
	text-align: center;
	}


.grid_14 {
	}
.grid_14 td {
	color: #4e5b62;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #dfe2e3;
	}
.grid_14.grid_14_1 td {
	border-bottom: none
	}
.grid_14 tr:hover td {
	}
.grid_14 td > div{
	padding: 9px 12px;
	}
.grid_14 td input[type=text]{
	margin: -6px 0 -7px 0px;
	width: 170px;
	color: #4e5b62;
	font-size: 14px;
	line-height: 20px;
	}	




.grid_16 {
	font-size: 13px;
	line-height: 18px;
	color: #4e5b62;
	}

.grid_16 th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4e5b62;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}
.grid_16 th.th_01 div,
.grid_16 td.td_01 div {
	text-align: left!important;
}

.grid_16 th div {
	padding: 7px 15px;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
	border-right: #c8c8c8 1px solid;
	}
.grid_16 td { 
	border-bottom: #dfe2e3 1px solid;
	}
.grid_16 tbody tr:hover td {
	background-color: #fff899; 
	}
.grid_16 td div {
	padding: 4px 15px;
	}

.grid_16 td.td_05 div {
	text-align: center;
	}

.grid_16 td.td_05 div.check {
	color: #cc2f12;
}

.grid_16 td a {
	color: #cc2f12;
	text-decoration: none;
}

.grid_16 td a:hover {
	text-decoration: underline;
}
.grid_17 {
	font-size: 13px;
	line-height: 18px;
	color: #4e5b62;
	}

.grid_17 th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4e5b62;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

 .grid_17 th div{
	padding: 7px 10px;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
	border-right: #c8c8c8 1px solid;
	}
.grid_17 th.th_01 div,
.grid_17 th.th_02 div{
	text-align: left;
	background: none
	}
.grid_17 td { 
	border-bottom: #dfe2e3 1px solid;
	}
.grid_17 tbody tr:hover td {
	background-color: #fff899!important;	 
	}
.grid_17 td div {
	padding: 4px 10px;
	}

.grid_17 th.th_01 div,
.grid_17 td.td_01 div,
	text-align: center;
	}

.grid_17 td.td_05 div.check {
	color: #cc2f12;
}

.grid_17 td a {
	color: #cc2f12;
	text-decoration: none;
}

.grid_17 td a:hover {
	text-decoration: underline;
}

.grid_17 .th_05 {
	cursor: pointer;
}

.grid_18 {
	font-size: 13px;
	line-height: 18px;
	color: #4e5b62;
	}

.grid_18 th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4e5b62;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}

.grid_18 th div {
	padding: 7px 10px;
	background: url(../images/arr_down_01.png) right 15px no-repeat;
	border-left: #c8c8c8 1px solid;
}

.grid_18 th.th_04 div {
	text-align: center;
}

.grid_18 td { 
	border-bottom: #dfe2e3 1px solid;
}

.grid_18 tbody tr:hover td {
	background-color: #fff899; 
}

.grid_18 td div {
	padding: 0px 10px;
	line-height: 11px;
}

.grid_18 th.th_04 img {
	margin: -5px 0 0;
}

.grid_18 th.th_04.up div {
	height: 31px;
	background: #fff url(../images/arr_up_02.png) center 32px no-repeat;
}

.grid_18 th.th_04.down div {
	height: 31px;
	background: #fff url(../images/arr_down_02.png) center 32px no-repeat;
}

.grid_18 td a:hover {
	text-decoration: none;
}

.grid_18 th.th_01,
.grid_18 th.th_02 {
	vertical-align: bottom;
}

.grid_18 th.th_02 div {
	background: url(../images/arr_down_01.png) right 32px no-repeat;
}

.grid_18 th.th_01 div,
.grid_18 th.th_02 div {
	padding: 7px 5px;
	border: none;
}

.grid_18 th.th_01 div {
	padding: 7px 10px 7px 30px;
}

.grid_18 th.th_03 div {
	text-align: center;
	background: #8c9fac;
	color: #fff;
	font-family: OpenSansSemiBold;
	text-shadow: none;
	padding: 3px 0;
}

.grid_18 td.td_01 div {
	border: none;
	padding: 7px 10px 7px 30px;
}

.grid_18 td.td_03 {
	text-align: center;
}

.grid_18 td.td_03 div {
	border-left: 1px solid #c8c8c8;
	height: 25px;
	line-height: 25px;
}

.grid_18 td.td_03 span {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 7px;
}

.grid_18 td.td_03 span.red {
	background: #cc2f12;
}

.grid_18 td.td_03 span.orange {
	background: #ff9900;
}

.grid_18 td.td_03 span.green {
	background: #339966;
}

.grid_18 td.td_03 span.dash {
	display: inline-block;
	width: 8px;
	height: 2px;
	border-radius: 0px;
	background: #7d7d7d;
}

.grid_19 {
	  margin: 41px 0px 0px;
	font: 13px OpenSansRegular, Arial, Helvetica, sans-serif;
	color: #4e5b62;
}

.grid_19 th {
	background: #e8e9ea;
	color: #2c3b4c;
	border-bottom: 1px solid #daddde;
	font: 13px OpenSansRegular, Arial, Helvetica, sans-serif;
	padding: 4px 0;
}

.grid_19 th.th_02 {
	padding-right: 30px;
	text-align: left;
}

.grid_19 td { 
	border-top: 1px solid #daddde;
	padding: 14px 0 4px;
}

.grid_19 tr.head td { 
	background: #f8f8f8;
	color: #111212;
	font-family: OpenSansBold;
	padding: 6px 0;
}

.grid_19 td.td_01 { 
	text-align: left;
	padding-left: 50px;
}

.grid_19 td.td_02 { 
	text-align: left;
	padding-right: 30px;
}

.grid_19 tr.head td.td_01 { 
	padding-left: 50px;
}

.grid_19 tr.head td.td_02 { 
	font-size: 18px;
	padding-right: 30px;
}
.grid_20 {
	width: 100%;
	color: #4e5b62;
	font-size: 13px;
	line-height: 18px;
	border-collapse: collapse;
	}
.grid_20 td {
	padding: 0;
	text-align: left;
	vertical-align: top;
	border: none;
	}

.grid_20 td > div{
	padding: 0 0 10px;
	}

.grid_20 td.td_03 > div{
	border: none
	}
.grid_20 th {
	color: #4a555b;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	border-top: #fff 1px solid;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
	}
.grid_20 th div {
	padding: 7px 0;
	border-right: 1px solid #c8c8c8
	}
.grid_20 th.th_03 div {
	border: none
	}
.grid_20 .select{
	padding: 10px 0 0 12px;
	}
.grid_20 .select select {
	min-width: 135px;
	width: 75%;
	height: 29px;
	line-height: 29px;
	}

.grid_20 td.td_01 {
	padding: 15px 0 0 65px;
	font-size: 14px;
	}
.grid_20 tr:nth-child(even) td {
	background: #f9f6f6;
}



.btn_select_01, .btn_select_01:visited {
	width: 60px;
	height: 18px;
	overflow: hidden;
	padding: 0 10px 0 0;
	display: block;
	font: 11px/17px OpenSansSemiBold, Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #7a868c 0 1px 1px;
	color: #fff;
	background: #a1acb1 url(../images/btn_select_01.png) right 0 no-repeat;
	
	position: relative;
	zoom: 1;

	-moz-border-radius:    2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius:  2px;
	 border-radius:        2px;

	-moz-box-shadow:    0 1px 0 #dbdbdb;
	-webkit-box-shadow: 0 1px 0 #dbdbdb;
	box-shadow:         0 1px 0 #dbdbdb;

	behavior: url(PIE.htc); 	
}
.grid_23 {
	font-size: 13px;
	line-height: 18px;
	color: #4e5b62;
	}

.grid_23 th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	text-shadow: #f6f7f8 0 1px 0;
	color: #4e5b62;
	border-bottom: #b4babd 1px solid;
	background: #edeeef url(../images/th_grid_keyword.png) 0 0 repeat-x;
}
.grid_23 th div {
	padding: 7px 15px;
	border-right: #c8c8c8 1px solid;
	height: 20px;
	}

.grid_23 th.th_01 div,
.grid_23 td.td_01 div {
	text-align: center;
	}
.grid_23 th.th_06 div {
	text-align: center;
}
.grid_23 td { 
	border-bottom: #dfe2e3 1px solid;
	}
.grid_23 tbody tr:hover td {
	background-color: #fff899; 
	}
.grid_23 td div {
	padding: 4px 15px;
	}

.grid_23 td.td_05 div.check {
	color: #cc2f12;
}

.grid_23 td a {
	color: #cc2f12;
	text-decoration: none;
}

.grid_23 td a:hover {
	text-decoration: underline;
}

.grid_23 td.td_06 div {
	text-align: center;
}

.btn_select_01:hover, .btn_select_01:focus {
	text-decoration: none;
	color: #fff;
	background: #a1acb1 url(../images/btn_select_01.png) right -18px no-repeat;
}

.grid_25 {
	font-size: 18px;
	color: #4e5b62;
}

.grid_25 td {
	padding: 15px 0;
	border-bottom: 1px solid #dfe2e3;
}

.grid_25 tr:first-child td {
	padding-top: 0;
}

.grid_25 tr:last-child td {
	border: none;
}

.grid_25 input {
	margin: 0 10px 0 0;
}

.grid_25 td:last-child {
	font-family: OpenSansSemibold;
	padding-left: 20px;
}

.grid_25 strong {
	font-weight: normal;
	font-family: OpenSansSemibold;
	margin: 0;
}

/* ///////////////////////////////////////////////////////////////////////////////////// */






